build/
plot/
.idea/
*.so
*.png
*.DS_Store
src/__pycache__/
src/core/__pycache__/
src/cython/mel.cpp
solver/matvec/__pycache__/
inputs/
reports/
*.csv
*.zip
*.pyc
/src/__pycache__
*.pyc
*.pyc
src/core/__pycache__/BaseMCA.cpython-310.pyc
src/__pycache__/__init__.cpython-38.pyc
src/core/__pycache__/BaseMCA.cpython-310.pyc
/src/mlp_neurosim
